@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/* all */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(226, 223, 223, 0.653);
}

.container {
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 200px 20px;
    padding: 50px;
    width: 90%;
}

/* TOP */

.top {
    display: flex;
    gap: 20px;
}

input {
    height: 50px;
    width: 130px;
    padding: 18px;
    border-radius: 6px;
    border: 1px solid gray;
}

label {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 0.8rem;
    gap: 3px;
}

/* MID */

.mid {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 50%;
    padding: 20px;
    background-color: rgba(127, 25, 223, 0.84);
    border: 0px;
    cursor: pointer;
    display: flex;

}

.line {
    border: 0.1px solid rgba(128, 128, 128, 0.367);
    width: 100%;
    height: 1px;
    display: flex;
    align-self: center;
}

/* BOTTOM */

.bottom {
    display: flex;
    flex-direction: row;
    font-size: 5rem;
    color: rgba(127, 25, 223, 0.84);
    font-weight: 800;

}

b {
    color: black;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



/* Small devices */
@media (max-width:650px){
    
    .container {
        width: 100%;
    }
    .mid {
        margin: 40px 0px;
    }
    .top {
        flex-direction: column;
        align-items: center;
    }
    .bottom {
        font-size: 3rem;
    }

}
@media (max-width:450px){
    .bottom {
        font-size: 2rem;
    }
}